{% extends "index.html"%}<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Add Article</title>
  </head>
  <body>
    <header>{%block title%}Add Article{%endblock%}</header>
    {%block content%}
    <form method="POST" action="{{url_for('add_article')}}">
      <input type="text" name="title" /> <input type="text" name="content" />
      <button type="submit">Add Article</button>
    </form>
    {%endblock%}
  </body>
</html>
